header {
  color: white;
  background-color: #017bfe;
}

.hidden {
  display: none !important;
}

.header-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: no-wrap;
  padding-left: 1rem;
}

.favorites {
  background: none;
  border: none;
  color: white;
  margin-left: 1.25rem;
}

.rankings {
  background: none;
  border: none;
  color: white;
  margin-left: 1.3rem;
}

.best-in-the-west {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: white;
}

.main-text-container {
  text-align: center;
  justify-content: center;
}

.listed-images-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

li {
  max-width: 200px;
  flex-basis: calc(100% / 1);
  border: 1px solid #017bfe;
  border-radius: 10px;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
}

img {
  width: 100%;
}

.image-container {
  max-width: 200px;
}

.player-profile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.player-profile-info {
  text-align: center;
  flex-basis: calc(100% / 1);
}

ol {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.table-container {
  display: flex;
  justify-content: center;
}

thead {
  background-color: #5585b5;
  color: white;
}

tr:nth-child(even) {
  background-color: #eee;
}

.player-profile-name {
  flex-basis: calc(100% / 1);
  text-align: center;
}

.favorite-players-main-text-container {
  text-align: center;
}

.favorite-players-table-container {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  li {
    margin: 1rem;
    border-radius: 15px;
  }

  li:hover {
    background-color: #017bfe;
    cursor: pointer;
  }

  ol {
    list-style: none;
  }

  .player-profile-name {
    flex-basis: calc(100% / 1);
    text-align: center;
  }

  .player-profile-info {
    flex-basis: calc(100% / 1);
  }

  .image-container {
    flex-basis: calc(100% / 1);
  }
}
