header {
  color: white;
  background-color: #017bfe;
}

body {
  background-image: url("https://c0.wallpaperflare.com/preview/742/406/570/ice-rink-background-sports.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  margin: 0;
}

table {
  margin-bottom: 1.5rem;
}

.hidden {
  display: none !important;
}

.header-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: no-wrap;
  padding-left: 1rem;
}

.favorites {
  background: none;
  border: none;
  color: white;
  margin-left: 1.25rem;
}

.rankings {
  background: none;
  border: none;
  color: white;
  margin-left: 1.3rem;
}

.best-in-the-west {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: white;
}

.main-text-container {
  text-align: center;
  justify-content: center;
}

.listed-images-container,
.advanced-stats-table-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

li {
  max-width: 200px;
  flex-basis: calc(100% / 1);
  border: 1px solid #017bfe;
  border-radius: 10px;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
}

img {
  width: 100%;
}

.image-container {
  max-width: 200px;
}

.player-profile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.player-profile-info {
  text-align: center;
  flex-basis: calc(100% / 1);
}

ol {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.table-container {
  display: flex;
  justify-content: center;
}

thead {
  background-color: #5585b5;
  color: white;
}

tr:nth-child(even) {
  background-color: #eee;
}

td {
  border-color: #5585b5;
  border: 1rem;
  text-align: center;
  padding: 0.25rem;
}

.player-profile-name {
  flex-basis: calc(100% / 1);
  text-align: center;
}

.favorite-players-main-text-container,
.where-he-stands-container,
.avg-points-container,
.advanced-stats-text {
  text-align: center;
}

.favorite-players-table-container,
.where-he-stands-table-container {
  display: flex;
  justify-content: center;
}

.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 / 70%);
}

.modal-content {
  background-color: white;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  text-align: center;
}

.modal-buttons {
  text-align: center;
}

.yes-button {
  border-color: #e24360;
  background-color: white;
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 1rem;
}

.no-button {
  background-color: white;
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 1rem;
}

tr:hover,
button:hover {
  cursor: pointer;
}

li:hover {
  background-color: #017bfe;
  cursor: pointer;
}

i:hover {
  cursor: pointer;
}

.add-to-favorites {
  font-size: 1.5rem;
  color: #017bfd;
}

@media screen and (min-width: 768px) {
  li {
    margin: 1rem;
    border-radius: 15px;
  }

  ol {
    list-style: none;
  }

  .player-profile-name,
  .player-profile-info,
  .image-container {
    flex-basis: calc(100% / 1);
    text-align: center;
  }

  td {
    padding: 0.5rem 1.5rem;
  }

  .position,
  .height,
  .weight,
  .age,
  .gp,
  .goals,
  .assists,
  .birth-date,
  .birth-place {
    margin: 0.25rem;
    font-size: 1.5rem;
  }

  table {
    width: 55%;
  }
}
